build-front-end-job:
  stage: build
  image: node:lts-bullseye
  needs:
    - tests
  script:
    - cd ghi
    - npm install
    - npm run lint
    # Replace the line below with our hostname
    - VITE_API_HOST= npm run build -- --base=/demodeployment/ 
  artifacts:
    paths:
      - ghi/dist/

pages:
  stage: deploy
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
  dependencies:
    - build-front-end-job
  needs:
    - build-front-end-job
  script:
    - mv ghi/dist/ public
  artifacts:
    paths:
      - public
  variables:
    GITLAB_PAGES_HTTP: "true"