body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.add-business-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 160px);
    gap: 2rem;
    padding: 2rem;
    margin-top: 80px;
    margin-bottom: 80px;
    max-width: 1200px;
}

.business-form {
    margin-top: 5px;
    background-color: var(--element_background_color);
    border-radius: var(--element_border_radius);
    box-shadow: var(--element_shadow);
    padding: 35px;
    justify-content: center;
    margin-bottom: 250px;
    width: 600px;

}

.add-business-title {
    color: rgb(0, 0, 0);
    font-weight: Bold;
    font-size: var(--large_fontsize);
    font-family:var(--_font);
    margin-bottom: 10px;
}



input {
    margin: 12px 0;
    width: 100%;
    box-sizing: border-box;
    padding: 12px;
    font-size: 1rem;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.button-group button {
    flex: 1;
    padding: 12px;
    margin: 0 5px;
    font-size: 1rem;
    cursor: pointer;
}

.add-business-button{
    background-color:var(--main_button_color);
    color:var(--main_button_textcolor);
    border: 2px solid var(--main_button_color);

}

.message {
    margin-top: 10px;
    text-align: center;
    color: red;
}
