.all-investments-page {
  padding: 2rem 2rem 2rem 2rem;
  padding-top: 80px;
  min-height: 100vh;
}

.investments-header {
  text-align: center;
  color: #1a202c;
  margin-bottom: 2rem;
}

.investment-card-wrapper{
  transition: transform 0.2s ease;
}

.investment-card-wrapper:hover {
  transform: translateY(-5px);
}
