.no-business-container {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);
  text-align: center;
}

.full-screen-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-business-header {
  font-size: 24px;
  font-weight: 700;
}

.no-business-text {
  font-size: 18px;
  font-weight: 400;
}

.no-business-button {
  background-color: #059669;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 600;
  height: 40px;
  border: none;
  width: 236px;
  border-radius: 10px;
}

.no-financials-header {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin-top: 15px;
}

.no-financials-text {
  font-size: 24px;
  text-align: center;
}

.no-investment-header {
  font-size: 24px;
  text-align: center;
  margin-top: 15px;
}

.no-investment-text {
  display:flex;
  font-size: 24px;
  text-align: center;
}

.business-profile-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
  }

.business-profile-header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.business-profile-header {
  font-size: 30px;
  font-weight: 700;
}

.business-profile-page-button {
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  color: #047857;
}


.business-profile-name {
text-align: left;
font-weight: 700;
font-size: 36px;
}

.business-location {
  font-size: 24px;
  font-weight: 400;
  color: #6B7280;
}

.business-info {
  display: flex;
  background-color: #FFFFFF;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  gap: 2rem;
  border-radius: 10px;
  align-items: center;
  margin-bottom: 2rem;
  }

.business-image-container {
width: 260px;
background-color: #FFFFFF;
margin-top: 20px;
margin-left: 20px;
margin-bottom: 20px;
}

.image-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 8px;
  }

.business-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  }

.business-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  }

.business-details p {
  margin-top: 0.2rem;
  margin-bottom: 0.1rem;
  line-height: 1.2;
}

.business-profile-subheader {
  font-size: 24px;
  font-weight: 700;
}

.financial-dashboard-container {
  display: flex;
  background-color: #FFFFFF;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  gap: 2rem;
  border-radius: 10px;
  align-items: flex-start;
  margin-bottom: 2rem;
  padding: 20px;
}

.upload-box {
  margin-top: 1rem;
  background-color: #FFFFFF ;
}

.upload-image-form {
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
  flex-direction: column;
}

.business-investment-container {
  background-color: #FFFFFF;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  gap: 2rem;
  border-radius: 10px;
  align-items: flex-start;
  margin-bottom: 2rem;
  padding: 20px;
}
