/* Reset and base styles */
* {
  box-sizing: border-box;
}


body{
    background-color: var(--page_background_color);
}

.title{
    color: rgb(0, 0, 0);
    font-weight: Bold;
    font-size: var(--large_fontsize);
    font-family:var(--_font);
    margin-bottom: 30px;
}


.field-label{
    margin-top: 10px;
    text-align: left;
    color:var(--secondary_text_color);
    font-size: var(--small_fontsize);
    font-weight: bold;
    margin-bottom: -5px;
}
