/* Reset and base styles */
* {
  box-sizing: border-box;
}


body{
    background-color: var(--page_background_color);
}

.create-investment-form{
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    background-color: var(--element_background_color);
    border-radius: var(--element_border_radius);
    box-shadow: var(--element_shadow);
    padding: 35px;
    justify-content: center;
    margin-bottom: 250px;
    width: 600px;
}

.title{
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: Bold;
    font-size: var(--large_fontsize);
    font-family:var(--_font);
    margin-bottom:30px;
}


.field-label{
    margin-top: 10px;
    text-align: left;
    color:var(--secondary_text_color);
    font-size: var(--small_fontsize);
    font-weight: bold;
    margin-bottom: -5px;
}

.button-container{
    gap:10px
}

.cancel-button{
    display: block;
    width: 50%;
    padding: 15px;
    background-color: transparent;
    color:var(--main_button_color);
    border: none;
    border-radius: var(--button_border_radius);
    font-size: var(--small_fontsize);
    font-weight: 600;
    letter-spacing: 0.5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    font-family: var(--button_font);
    align-items: center;
    padding: 12px;
    border: 2px solid var(--main_button_color);
}

.cancel-button:hover{
    background-color: var(--main_button_hover);

}

.post-button{
    display: block;
    width: 50%;
    padding: 15px;
    background-color:var(--main_button_color);
    border-radius: var(--button_border_radius);
    font-size: var(--small_fontsize);
    font-weight: 600;
    letter-spacing: 0.5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    font-family: var(--button_font);
    align-items: center;
    padding: 12px;
    border: 2px solid var(--main_button_color);
    color:white;
}

.post-button:hover{
    background-color:var(--main_button_hover);
    border: 2px solid var(--main_button_hover);
}
