.featured-investments {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
}

.featured-investments ul {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

.featured-investments li {
    width: 100%;
    height: 100%;
    padding: 1rem;
    border-radius: 0.1rem;
    transition: transform 0.2s ease;
}

.featured-investments li:hover {
    transform: translateY(-5px);
}

/* desktop-layout */

@media (min-width: 768px) {
  .featured-investments {
    width: 75%;
  }

  .featured-investments ul {
    grid-template-columns: repeat(3, minmax(250px, 1fr));
  }
}


  .home-nav-link {
    padding: 0.5rem 1rem;
    min-width: 88px;
    min-height: 42px;
    border-radius: var(--button_border_radius);
    font-family: var(--button_font);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
    color: var(--main_button_color);
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .home-nav-link:hover {
    font-weight: 600;
  }

  .home-nav-link:focus {
    outline: 2px solid var(--main_button_hover);
    outline-offset: 2px;
  }
