.investment-details-page-container {
  margin-top: 125px;
  margin-left: 100px;
  margin-right: 100px;
  padding: 10px;
  background-color: #FFFFFF;
  border: 1px solid #E5E7EB;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  border-radius: 10px;
  overflow: hidden;
  box-sizing: border-box;
}

.investment-details-container {
  margin-top: 50px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  box-sizing: border-box;
  }

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 10px;
}

.column, .column-1 {
  align-items: center;
}

.column-2 {
  align-items: flex-start;
}

.box, .nested-box {
  display: flex;
  justify-content: center;
}

.upload-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-image-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nested-column {
  display: flex;
  flex-direction: column;
}

.nested-column, .top {
  margin-top: 10px;
  margin-bottom: 3px;
}

.business-detail-name {
  font-weight: 700;
  font-size: 36px;
}

.location-icon {
  width: 21px;
  height: 33px;
  position: relative;
  top: 5px;
  object-fit: contain;
}

.website-icon {
  width: 19px;
  height: 30px;
  position: relative;
  top: 5px;
  object-fit: contain;
}

.location-text {
  color: #6B7280;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 10px;
}

.business-website {
  color: #059669;
  font-size: 24px;
  text-decoration: none;
}

.image-wrapper {
  width: 180px;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
}

.business-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  }

.box-quantity {
  font-weight: 600;
}

.business-detail-text {
  color: #64748B;
  font-weight: 400;
  font-size: 16px;;
}

.funded-percentage {
  color: #6290C8;
  font-weight: 600;
  font-size: 32px;
}

.progress-purchase-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
  margin-left: 30px;
  margin-right: 30px;
}
.progress-bar-wrapper {
  flex: 1;
  margin-top: 0.5rem;
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.progress-label {
  color: #6B7280;
  text-align: left;
}

.progress-bar-row {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.progress-bar {
  height: 20px;
  background-color: #E0E9F4;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
}

.progress-fill {
  height: 100%;
  background-color: #6290C8;
  transition: width 0.5s ease-in-out;
}

.financial-dashboard-container {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  }
