.investment-details-page-container {
  margin-top: 125px;
  margin-left: 100px;
  margin-right: 100px;
  padding: 10px;
  background-color: #FFFFFF;
  border: 1px solid #E5E7EB;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  border-radius: 10px;
  overflow: hidden;
  box-sizing: border-box;
}

.investment-details-info-container {
  margin-top: 50px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  box-sizing: border-box;
  }

.investment-column {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 10px;
}

.investment-column, .investment-column-1 {
  align-items: center;
}

.investment-column-2 {
  align-items: flex-start;
}

.investment-box, .investment-nested-box {
  display: flex;
  justify-content: center;
}

.investment-nested-column {
  display: flex;
  flex-direction: column;
}

.investment-nested-column, .investment-top {
  margin-top: 10px;
  margin-bottom: 3px;
}

.investment-detail-business-name {
  font-weight: 700;
  font-size: 36px;
  margin: 5px;
}

.location-icon {
  width: 21px;
  height: 33px;
  position: relative;
  top: 5px;
  object-fit: contain;
}

.website-icon {
  width: 19px;
  height: 30px;
  position: relative;
  top: 5px;
  object-fit: contain;
}

.location-text {
  color: #6B7280;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 10px;
}

.business-website {
  color: #059669;
  font-size: 24px;
  text-decoration: none;
}

.business-detail-image-wrapper{
  width: 180px;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.business-detail-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  }

.investment-box-quantity {
  font-weight: 600;
  margin: 5px;
}

.investment-business-detail-text {
  color: #64748B;
  font-weight: 400;
  font-size: 16px;
  margin: 5px;
}

.funded-percentage {
  color: #6290C8;
  font-weight: 600;
  font-size: 32px;
}

.progress-purchase-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  margin-top: 15px;
  margin-left: 30px;
  margin-right: 30px;
}
.progress-bar-wrapper {
  flex: 1;
  margin-top: 0.5rem;
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.progress-label {
  color: #6B7280;
  text-align: left;
}

.progress-bar-row {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.progress-bar {
  height: 20px;
  background-color: #E0E9F4;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
}

.progress-fill {
  height: 100%;
  background-color: #6290C8;
  transition: width 0.5s ease-in-out;
}

.financial-dashboard-container {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  }

  .invest-now-button {
    padding: 10px 20px;
    background-color: var(--main_button_color); /* Use your defined variable or a default */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .invest-now-button:disabled {
    background-color: #cbd5e1; /* Tailwind gray-300 */
    color: #6b7280; /* Tailwind gray-500 */
    cursor: not-allowed;
  }

  .invest-now-button:disabled:hover {
    background-color: #d1d5dbd4; /* Tailwind gray-300 */
    color: #6b7280; /* Tailwind gray-500 */
    cursor: not-allowed;
  }

  .invest-now-button:hover,
.buy-btn:hover:not(:disabled) {
    background-color: var(--main-button-hover);
    color: var(--main-button-hover-textcolor);
}

.buy-btn:disabled {
    background-color: #cbd5e1;
    cursor: not-allowed;
}

.login-message {
  margin-top: 10px;
  font-size: 16px;
  color: #374151; /* Tailwind's gray-700 */
  text-align: center;
  }


.login-link{
  color: var(--main_button_color);
}

.login-link:hover{
  color: var(--main_button_hover);
}
