.business-profile-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    font-family: sans-serif;
  }


.business-name {
text-align: left;
font-size: 2rem;
margin-bottom: 1rem;
}

.business-info {
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-bottom: 2rem;
  }

.business-image-container {
width: 200px;
height: auto;
display: flex;
flex-direction: column;
align-items: center;
gap: 0.5rem;
}

.business-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.business-details h3 {
margin: 0.5rem 0;
}

.business-details a {
color: #0077cc;
text-decoration: none;
}

.business-details a:hover {
text-decoration: underline;
}

.financial-dashboard-container {
margin-top: 3rem;
display: flex;
justify-content: center;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
  }

.progress-bar-wrapper {
  margin-top: 0.5rem;
  width: 100%;
  text-align: center;
}

.progress-bar {
  width: 100%;
  height: 20px;
  background-color: #eee;
  border-radius: 10px;
  overflow: hidden;
}

.progress-fill {
  height: 100%;
  background-color: #4caf50;
  transition: width 0.5s ease-in-out;
}
