@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
  --main-button-color: #059669;
  --main-button-textcolor: #fff;
  --main-button-hover: #34D399;
  --main-button-hover-textcolor: #fff;

  --secondary-text-color: #6B7280;
  --field-border-color: #e1e1e1;
  --field-background-color: #F9FAFB;
  --element-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  --border-radius: 10px;
  --button-border-radius: 8px;
}

.payment_modal {
  width: 100%;
  max-width: 600px;
  border-radius: var(--border-radius);
  box-shadow: var(--element-shadow);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}

.payment_bar {
  background: var(--main-button-color);
  height: 60px;
  width: 100%;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  display: flex;
  align-items: center;
  justify-content: center;
}

.payment_title {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  text-shadow: 0 0 4px #3f3f3f;
}

.fields_container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  max-width: 400px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.field_title {
  font-size: 16px;
  font-weight: 600;
  color: black;
}

.finance_field {
  font-size: 16px;
  padding: 10px;
  border: 1px solid var(--field-border-color);
  background-color: var(--field-background-color);
  border-radius: var(--button-border-radius);
  color: black;
  width: 100%;
  box-sizing: border-box;
}

.buttons_container {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 24px;
  flex-wrap: wrap;
}

.buy_button,
.cancel_button,
.exit_button {
  background-color: var(--main-button-color);
  color: var(--main-button-textcolor);
  border: none;
  padding: 12px 24px;
  border-radius: var(--button-border-radius);
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  min-width: 120px;
}

.cancel_button,
.exit_button {
  background-color: #6B7280;
}

.buy_button:hover,
.cancel_button:hover,
.exit_button:hover {
  background-color: var(--main-button-hover);
  color: var(--main-button-hover-textcolor);
}

.completion_message {
  font-size: 24px;
  font-weight: 700;
  color: black;
  text-align: center;
  margin-top: 40px;
}

.field_title {
  font-size: 16px;
  font-weight: 600;
  color: #000;
  margin-bottom: -20px;
}

.buttons_container{
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 24px;
  flex-wrap: wrap;
  width: 100%;
}

/* mobile-layout */
@media (max-width: 768px) {
  .fields_container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  max-width: 400px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.cancel_button,
.buy_button {
  padding: 12px 5px !important;
  }
}
