.empty-pending {
    padding: 35px;
    text-align: center;
    opacity: 0.8;
    margin-top: 8px;
    font-size: 20px;
    background-color: rgb(238, 238, 238);
}

.portfolio-page-container {
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
}

.your-investments-container {
    align-content: left;
}

.pending-investments-container {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    min-width: 800px;
    margin-top: 30px;
    margin-bottom: 100px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    border-radius: 10px;
    overflow: hidden;
    box-sizing: border-box;
  }

.pending-investments-title {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 25px;
}
