.footer {
  background-color: #f8f9fa;
  color: #333;
  padding: 2rem 1rem;
  width: 100%;
  box-sizing: border-box;
  border-top: 1px solid #eee;
  font-family: var(--button_font);
  width: 100%;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.footer__section {
  min-width: 100px;
}

.footer__logo-section .footer__logo {
  display: flex;
  -ms-flex-align: start;
  align-items: center;
  font-weight: bold;
  font-size: 1.2rem;
  color: #333;
  text-decoration: none;
  margin-left: 50px;
}

.nav-logo-image {
  height: 32px;
  margin-right: 0.5rem;
  vertical-align: middle;
}

.footer__heading {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: #444;
}

.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;

}

.footer__list li {
  margin-bottom: 0.4rem;
  font-size: x-small;
}

.footer__list a,
.footer__socials a {
  text-decoration: none;
  color: #555;
  transition: color 0.3s ease;
  font-size: small;
}

.footer__list a:hover,
.footer__socials a:hover {
  color: var(--main_button_color);
  text-decoration: underline;
}

.footer__socials {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.footer__copyright-section {
  display: flex;
  align-items: flex-start;
  color:var(--secondary_text_color);
  font-size: var(--small-font-size);
  margin-right:50px;
}

.links-section{
   display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link{
  color:var(--secondary_text_color);
}




/* Mobile responsive */
@media (max-width: 768px) {
  .footer__container {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }

  .footer__logo-section,
  .footer__copyright-section {
    flex-direction: row;
    align-items: center;
    font-size: 50px;
}
