.homepage-hero {
    background-color: #E5F5F0;
    padding: 3rem 1rem;
    text-align: center;
    width: 100%;
}

.hero-text{
    margin: 0 auto;
}

.hero-text h1 {
    margin-bottom: 0.75rem;
}

.hero-subtext {
    margin: 0 0 1.25rem 0;
    font-size: 1rem;
}


/* desktop-layout */

@media (min-width: 768px) {
    .homepage-hero {
    padding: 60px 20px;
    }

    .hero-subtext {
    font-size: 1.25rem;
    }
}


.browse-opp-button{
    margin-top: 15px;
    background-color: white;
    padding: 12px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    font-size: var(--small_fontsize);
    border-radius: var(--button_border_radius);
    border: 2px solid var( --main_button_color);
    font-family: var(--font);

}

.browse-opp-button:hover{
    background-color: var(--main_button_hover);
    color:white;
}


.view-all-button{
    margin-top: 15px;
    background-color:var( --main_button_color);
    color:white;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    font-size: var(--small_fontsize);
    border-radius: var(--button_border_radius);
    border: 2px solid var( --main_button_color);
    font-family: var(--font);

}



.view-all-button:hover{
    background-color: var(--main_button_hover);
    color:white;
}
