.business-investment-card {
    max-height: 300px;
}

.custom-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: .5rem;
    position: relative;
}

.cell {
    text-align: center;
}

.investment-card-label {
    font-size: 12px;
    font-weight: 400;
    color: #9CA3AF;
}

.investment-card-value {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.span-cell {
    grid-column: 1 / span 3;
    align-items: left;
}

.span-cell, .funded {
    font-size: 12px;
    font-weight: 400;
    color: #9CA3AF;
    text-align: left;
}

.column-6 {
    grid-column: 6 / 7;
    grid-row: 1 / 5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.view-details-button {
    padding: 0.5rem 1rem;
    background-color: #059669;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    height: 48px;
    font-size: 16px;
    font-weight: 600;
}

.progress-bar-row {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
  }

.progress-bar {
  height: 20px;
  background-color: #E0E9F4;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
}

.progress-fill {
  height: 100%;
  background-color: #6290C8;
  transition: width 0.5s ease-in-out;
}
