.investment-card.featured{
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.investment-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  max-height: 200px;
}


.button-container {
  text-align: center;
  margin-top: 1rem;
}

.view-details-button {
  background-color: #2563eb;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.75rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
}

.view-details-button:hover {
  background-color: #1e40af;
}
