.pending-investment-card {
    display: flex;
    justify-content: space-between;
    background-color: #F9FAFB;
    border-radius: 12px;
    margin-bottom: 1rem;
    padding: 1rem;
  }

.pending-investment-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pending-investment-name {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0.25rem;
}

.pending-investment-location {
  color: #555;
  font-size: 0.95rem;
}

.pending-investment-right {
  flex: 1.5;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.pending-info-column1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pending-info-column2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 160px;
}

.pending-info-label {
  font-size: 0.9rem;
  color: #888;
  margin-bottom: 0.25rem;
}

.pending-info-value {
  font-size: 1rem;
  font-weight: 600;;
}

.button-column {
  justify-content: center;
}

.map-icon {
  width: 20px;
  height: 20px;
  position: relative;
  top: 5px;
  object-fit: contain;
}

.progress-bar-wrapper {
  flex-grow: 1;
  flex-shrink: 0;
  margin-top: 0.5rem;
  max-width: 400px;
  text-align: center;
}

.progress-bar-row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.progress-bar {
  height: 20px;
  background-color: #E0E9F4;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
}

.progress-fill {
  height: 100%;
  background-color: #6290C8;
  transition: width 0.5s ease-in-out;
  min-width: 4px;
  border-radius: 10px 0 0 10px;
}

.funded-percentage {
  font-size: 0.85rem;
  color: #6290C8;
  min-width: 35px;
  text-align: right;
}
