.empty-investments {
  width: 100%;
  padding: 24px;
  text-align: center;
  opacity: 0.8;
  font-size: 20px;
  background-color: #F9FAFB;
  border-radius: 10px;
}

.investments-dashboard-shell {
  width: 100%;
  min-height: 240px; /* IMPORTANT */
  display: flex;
  align-items: center;
  justify-content: center;
}

.investments-dashboard-container {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    min-width: 800px;
    margin-top: 30px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    border-radius: 10px;
    overflow: hidden;
    box-sizing: border-box;
  }

  .investments-dashboard-header {
    width: 100%;
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 24px;
  }

  .investments-dashboard {
    display: flex;
    width: 100%;
    gap: 20px;
  }

  .portfolio-title {
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 10px;
    text-align: center;
  }

  .value-text {
    font-weight: 600;
    font-size: 18px;;
  }

  .value {
    color: #059669;
  }

  .investments-chart {
    flex: 1;
    min-width: 300px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
  }

  .piechart-wrapper {
    width: 100%;
    max-width: 300px;
    overflow: hidden;
  }

  .investments-grid-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 2;
  }

  .investments-card {
    background-color: #F9FAFB;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    padding: 8px;
  }

  .investments-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
  }

  .investments-left {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .investment-business-image {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    object-fit: cover;
  }

  .investments-title {
    color: black;
    font-weight: 600;
    font-size: 20px;
    margin: 0;
  }

  .investment-amount {
    color: black;
    font-weight: 600;
    font-size: 20px;
    margin: 0;
    white-space: nowrap;
  }

  .investments-details p {
    text-align: right;
    color: black;
    margin: 2px 0;
    font-size: 0.95rem;
  }

  .portfolio-total {
    border-radius: 12px;
    text-align: right;
    font-size: 1.2rem;
    font-weight: bold;
  }
